
ul {
    margin: 0 !important;
    padding: 0 !important;
}

.backToTop {
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #c50ceb, #7edfce);
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
}
.backToTop i {
    font-size: 20px;
    position: relative;
    z-index: 1;
}
.backToTop i::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    border: 2px solid #c50ceb;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: btnAnimation 1s linear infinite;
    -webkit-animation: btnAnimation 1s linear infinite;
}
@keyframes btnAnimation {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}


/* nav part css start */
nav {
    background-color: #1C1E53;
    padding: 20px 0 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li a {
    color: #fff !important;
    padding: 0 20px !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
nav ul li a.active {
    background-color: #FCD980;
    border: 1px solid transparent;
    color: #1B1C2B !important;
}
nav ul li a:hover {
    color: #c50ceb !important;
}
.contact-us {
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 20px !important;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.contact-us:hover {
    background-color: #FCD980;
    border: 1px solid transparent;
    color: #1B1C2B !important;
}
.navbar-toggler {
    border: none;
}
.navbar {
    --bs-navbar-toggler-focus-width: none;
}
nav button i {
    color: #fff;
}
.navBG {
    background: linear-gradient(45deg, #fcd9805e, #1e24d375, #c60ceb71);
    backdrop-filter: blur(20px);
    animation: navAnimation 2s;
    -webkit-animation: navAnimation 2s;
}
@keyframes navAnimation {
    from{
        top: -40px;
    }
    to{
        top: 0;
    }
}
/* nav part css end */


/* contact-us part css start */
#contact-us {
    padding: 120px 0;
}
.contact-us-head {
    text-align: center;
}
.contact-us-head h2 {
    font-weight: 700;
}
.contact-us-head p {
    padding: 20px 300px;
}
.contact-us-form {
    padding: 0 150px;
}
.contact-us-form form {
    padding: 40px;
    background-color: #F4F6FC;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.input-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-items {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}
.input-items label {
    font-weight: 600;
    color: #1B1C2B;
}
.input-items input {
    width: 100%;
    background-color: transparent;
    border: 1px solid gainsboro;
    padding: 15px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    font-weight: 600;
}
.input-items p {
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
}
.contact-us-form form label {
    font-weight: 600;
    color: #1B1C2B;
}
.contact-us-form form textarea {
    height: 150px;
    resize: none;
    outline: none;
    padding: 20px 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid gainsboro;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 600;
}
.contact-us-form form button {
    background-color: #1B1C2B;
    border: none;
    outline: none;
    margin-top: 30px;
    padding: 10px 40px;
    color: #fff;
    font-weight: 500;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.contact-us-form form button:hover {
    background-color: #FCD980;
    color: #1C1E53;
}
/* contact-us part css end */


/* footer part css start */
footer {
    padding: 70px 0 0 0;
    background-color: #1C1E53;
}
.footer-left p {
    color: #fff;
    padding: 20px 100px 0 0;
}
.footer-right {
    color: #fff;
}
.footer-right h3 {
    color: #fff;
}
.footer-right p {
    padding: 10px 130px 0 0;
}
.footer-icon i {
    color: #fff;
    padding: 0 20px 0 0;
    margin-top: 20px;
    font-size: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.footer-icon i:hover {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    color: #c50ceb;
}
.footer-email-call {
    display: flex;
    justify-content: space-between;
    background-color: #FCD980;
    margin-top: 30px;
    padding: 20px;
    margin-right: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.footer-comm h4 {
    color: #1B1C2B;
    margin: -10px 0;
}
.footer-comm p {
    color: #1B1C2B;
    margin: 1px 0;
}
.copyright {
    background-color: #fff;
}
.copyright-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright-text p {
    color: #1B1C2B;
    margin-top: 10px;
    font-weight: 600;
}
.footer-nav ul {
    list-style-type: none;
    display: flex;
}
.footer-nav ul li a {
    color: #1B1C2B;
    text-decoration: none;
    padding: 20px 20px;
    display: inline-block;
    font-weight: 500;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.footer-nav ul li a:hover {
    color: #c50ceb;
}
/* footer part css end */